absl-py==2.0.0
aioboto3==11.3.1
aiobotocore==2.6.0
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
albumentations==1.3.1
altair==5.1.2
anaconda-catalogs
anaconda-client==1.11.3
anaconda-navigator==2.4.2
anaconda-project
annotated-types==0.7.0
anthropic==0.3.11
anyio==3.7.1
appdirs==1.4.4
applaunchservices
appnope
appscript
argon2-cffi
argon2-cffi-bindings
arrow
arxiv==1.4.8
asgiref==3.7.2
astroid
astropy
asttokens
async-timeout
atomicwrites==1.4.0
attrs==23.2.0
Automat
autopep8
Babel
backcall
backoff==2.2.1
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt==4.1.2
beautifulsoup4==4.9.3
bidict==0.22.1
binaryornot
black
bleach
blessed==1.20.0
blinker==1.7.0
blis==0.7.11
bokeh
boltons
boto3==1.28.17
botocore==1.31.17
Bottleneck
brotlipy==0.7.0
build==1.0.3
cachetools==5.3.1
catalogue==2.0.10
certifi
cffi
chardet==3.0.4
charset-normalizer
choreographer==1.1.1
chroma-hnswlib==0.7.3
chromadb==0.4.22
ci-info==0.3.0
clarabel==0.6.0
click==8.1.7
cloudpathlib==0.15.1
cloudpickle
clyent==1.2.2
colorama
colorcet
coloredlogs==15.0.1
comm
comtypes==1.2.0
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
confection==0.1.3
configobj==5.0.8
configparser==7.0.0
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
curl-cffi==0.5.10
cvxpy==1.4.1
cycler
cymem==2.0.8
Cython==3.0.8
cytoolz
dask
dataclass-wizard==0.22.3
dataclasses-json==0.6.7
datasets
datashader
datashape==0.5.4
debugpy
decorator==4.4.2
defusedxml
Deprecated==1.2.14
diff-match-patch
dill==0.3.7
distributed
distro==1.8.0
docopt==0.6.2
docstring-to-markdown
docutils
docx2txt==0.8
duckduckgo-search==4.1.0
ecos==2.0.12
editor==1.6.6
einops==0.7.0
entmax==1.3
entrypoints
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.1.3
executing
ExifRead==3.5.1
fastapi==0.103.2
fastjsonschema
feedparser==6.0.10
ffmpy==0.3.1
filelock
flake8
flasgger==0.9.7.1
Flask==3.0.0
Flask-Cors==4.0.0
flask-sock==0.7.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist
fsspec==2025.9.0
ftfy==6.3.1
future
gensim
gitdb==4.0.10
GitPython==3.1.40
glob2
gmpy2
google-auth==2.23.3
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.62.0
gradio
gradio_client==0.6.0
graphql-core==3.2.3
greenlet
grpcio==1.75.1
h11==0.14.0
h5py
HeapDict
hf-xet==1.1.10
holoviews
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.26.0
httpx-sse==0.4.2
huggingface-hub==0.35.3
humanfriendly==10.0
humbug==0.3.2
hvplot
hyperlink
hypothesis==6.98.2
hypothesis-graphql==0.11.0
hypothesis-jsonschema==0.22.1
idna==2.10
imagecodecs
imageio
imageio-ffmpeg==0.5.1
imagesize
imbalanced-learn
importlib-metadata
importlib-resources==6.1.1
incremental
inflection==0.5.1
iniconfig
inquirer==3.2.3
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isodate==0.6.1
isort
itemadapter
itemloaders
itsdangerous==2.1.2
jaraco.classes
jedi
jellyfish
jieba==0.42.1
Jinja2
jinja2-time
jiter==0.11.0
jmespath
joblib
json5
jsonpatch==1.33
jsonpointer==2.1
jsonschema
junit-xml==1.9
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido==1.1.0
keyring
kiwisolver
kubeflow @ git+https://github.com/kubeflow/trainer.git@1f443729ebdb3e792d4b9cd2b242f33b0e86fe14#subdirectory=sdk
kubernetes==29.0.0
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.78
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
langcodes==3.3.0
langgraph==0.6.8
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
langsmith==0.4.32
latex2mathml==3.76.0
lazy-object-proxy
lazy_loader
libarchive-c
libdeeplake==0.0.84
libmambapy
lightgbm==4.6.0
linkify-it-py
llvmlite==0.46.0
lmdb
locket
logistro==1.1.0
looseversion==1.3.0
lxml==5.1.0
lz4
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.20.2
matplotlib==3.10.8
matplotlib-inline
mccabe
mdit-py-plugins
mdtex2html==1.2.0
mdurl
milvus-lite==2.5.1
mistune
mmh3==4.1.0
monotonic==1.6
more-itertools==10.1.0
moviepy==1.0.3
mpmath==1.2.1
msgpack
multidict
multipledispatch
multiprocess==0.70.15
munch==4.0.0
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==0.4.3
mysql-connector-python==8.3.0
navigator-updater==0.4.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel==5.2.1
nipype==1.8.6
nltk
notebook
notebook_shim
numba==0.63.1
numexpr
numpy==1.26.4
numpydoc
oauthlib==3.2.2
onnxruntime==1.16.3
openai==2.2.0
openai-whisper==20231117
opencv-python-headless==4.9.0.80
openpyxl==3.1.5
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
orjson==3.11.3
ormsgpack==1.10.0
osqp==0.6.3
outcome==1.2.0
overrides==7.6.0
packaging==23.2
pandas==3.0.0
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathos==0.3.1
pathspec
pathy==0.10.2
patsy==0.5.3
pdfminer.six==20231228
pep8==1.7.1
pexpect
pickleshare
piexif==1.1.3
Pillow==9.4.0
pinyin==0.4.0
pipreqs==0.4.13
pkginfo
platformdirs
plotly
pluggy
ply==3.11
pooch
posthog==3.3.2
pox==0.3.3
poyo
ppft==1.7.6.7
preshed==3.0.9
prettytable==3.16.0
proglog==0.1.10
prometheus-client
prompt-tool-kit==1.0.14
prompt-toolkit
Protego
protobuf==6.32.1
prov==2.0.0
psutil
ptyprocess
pulsar-client==3.4.0
pure-eval
py-cpuinfo
py4j==0.10.9.9
pyarrow==11.0.0
pyasn1
pyasn1-modules==0.2.8
pybind11==2.11.1
pycodestyle
pycosat
pycparser
pycryptodome==3.20.0
pyct
pycurl==7.45.2
pydantic==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.27.2
PyDispatcher==2.0.5
pydocstyle
pydot==2.0.0
pydub==0.25.1
pyecharts==2.0.8
pyerfa
PyExecJS==1.5.1
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pymilvus==2.6.2
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
PyMySQL==1.1.0
pynput==1.7.6
pyobjc-core==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-CoreServices
pyobjc-framework-CoreText==10.1
pyobjc-framework-FSEvents
pyobjc-framework-Quartz==10.1
pyodbc
pyOpenSSL
pyparsing
PyPDF2==2.12.1
pyphen==0.14.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.0.0
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PyQt6==6.6.0
PyQt6-Qt6==6.6.0
PyQt6-sip==13.6.0
PyQt6-WebEngine==6.6.0
PyQt6-WebEngine-Qt6==6.6.1
pyrate-limiter==2.10.0
pyrsistent
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
PySocks
pyspark==4.0.1
pytesseract==0.3.10
pytest==7.2.2
pytest-subtests==0.7.0
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
python-engineio==4.8.2
python-inquirer==1.0.3
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-markdown-math==0.8
python-multipart==0.0.6
python-slugify
python-snappy
python-socketio==5.11.0
pytoolconfig
pytorch-cinic==0.0.6
pytz
pyviz-comms
PyWavelets
pyxnat==1.6.2
PyYAML
pyzmq
QDarkStyle
qdldl==0.1.7.post0
qrcode==7.4.2
qstylizer
QtAwesome
qtconsole
QtPy
qudida==0.0.4
queuelib==1.5.0
rawpy==0.25.1
rdflib==7.0.0
readchar==4.0.5
redis==5.0.1
regex
requests==2.32.5
requests-file
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses
rfc3339-validator
rfc3986-validator
rich==13.6.0
rope
rsa==4.9
Rtree
ruamel-yaml-conda
ruamel.yaml
runs==1.2.2
s3fs
s3transfer==0.6.2
sacremoses
safetensors==0.6.2
schemathesis==3.21.2
SciencePlots==2.1.1
scikit-image
scikit-learn
scipdf-parser==0.42
scipy==1.17.0
Scrapy
screeninfo==0.8.1
scs==3.2.3
seaborn
selenium==3.141.0
semantic-version==2.10.0
Send2Trash
sentence-transformers==5.1.1
service-identity
sgmllib3k==1.0.0
sh==2.0.6
shap==0.50.0
shiboken6==6.6.1
simple-websocket==1.0.0
simplejson==3.20.2
sip
six==1.17.0
slicer==0.0.8
smart-open
smmap==5.0.1
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.28
sqlparse==0.5.3
srsly==2.4.8
stack-data
starlette==0.27.0
starlette-testclient==0.2.0
statsmodels
sympy==1.13.1
tables
tabulate==0.9.0
TBB==0.2
tblib
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
terminado
text-unidecode
textdistance
textstat==0.7.3
thinc==8.2.1
threadpoolctl==3.6.0
three-merge
tifffile
tiktoken==0.12.0
timm==0.5.4
tinycss2
tldextract
tokenizers==0.22.1
toml
tomli
tomli_w==1.0.0
tomlkit
toolz
torch==2.5.0
torch-cka==0.21
torchvision==0.20.0
tornado
tqdm
traitlets
traits==6.3.2
transformers==4.57.0
trio==0.22.2
trio-websocket==0.10.4
Twisted
typer==0.9.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.12.2
uc-micro-py
ujson
Unidecode
urllib3==1.25.11
uvicorn==0.23.2
uvloop==0.19.0
vanna==0.7.9
w3lib
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth
weasel==0.3.2
webencodings==0.5.1
websocket-client
websockets==11.0.3
Werkzeug==3.0.1
wget==3.2
whatthepatch
widgetsnbextension
wikipedia==1.4.0
wrapt
wsproto==1.2.0
wurlitzer
x-transformers==0.15.0
xarray
xlrd==2.0.1
XlsxWriter==3.2.0
xlwings
xmod==1.8.1
xxhash==3.6.0
xyzservices
y-py
yapf
yarg==0.1.9
yarl
ypy-websocket
zict
zipp
zope.interface
zstandard==0.25.0
